<h1>Diagnostic Code Directory</h1>

<%= link_to "Home", root_path %>
<%= link_to "Physicians", physicians_url %>
<%= link_to "Patients", patients_url %>
<%= link_to "Appointments", appointments_url %>
<%= link_to "Diagnostic Codes", diagnostic_codes_url %>

<table>
  <thead>
    <tr>
      <th>Diagnostic code ID</th>
      <th>Diagnostic code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostic_codes.each do |diagnostic_code| %>
      <tr>
        <td><%= diagnostic_code.diagnostic_code_id %></td>
        <td><%= diagnostic_code.diagnostic_code %></td>
        <td><%= link_to 'Show', diagnostic_code %></td>
        <td><%= link_to 'Edit', edit_diagnostic_code_path(diagnostic_code) %></td>
        <td><%= link_to 'Destroy', diagnostic_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic code', new_diagnostic_code_path %>
