<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic code ID:</strong>
  <%= @diagnostic_code.diagnostic_code_id %>
</p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @diagnostic_code.diagnostic_code %>
</p>

<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) %> |
<%= link_to 'Back', diagnostic_codes_path %>
