  <%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :physician_id %><br>
    <%= f.collection_select :physician_id, Physician.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select :patient_id, Patient.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>

  <div class="field">
    <%= f.label :appointment_date %><br>
    <%= f.date_select :appointment_date %><br><br>
</div>

<div class="field">
    <%= f.label :appointment_time %><br>
  <%= select "appointment_time", "test", timeslots.map.with_index{ |name, index|
    [name,
     name] } %>
</div>

    <div class="field">
      <%= f.label :diagnostic_code %><br>
      <%= f.collection_select :diagnostic_code_id, DiagnosticCode.all, :id, :diagnostic_code_id %>
    </div>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

    <div class="field">
      <%= f.label :appt_completion %><br>
      <%= f.radio_button(:appt_completion, 'true') %>
      <%= f.label(:appt_completion, "Appointment Completed") %>
      <%= f.radio_button(:appt_completion, 'false') %>
      <%= f.label(:appt_completion, "Appointment Not Completed") %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

