<h1>Listing appointments</h1>

<%= link_to "Home", root_path %>
<%= link_to "Physicians", physicians_url %>
<%= link_to "Patients", patients_url %>
<%= link_to "Appointments", appointments_url %>
<%= link_to "Diagnostic Codes", diagnostic_codes_url %>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>Patient</th>
      <th>Reason</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Diagnostic Code</th>
      <th>Notes</th>
      <th>Appointment Completion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
            <% if appointment.physician %>
                <td><%= appointment.physician.name %></td>
            <% end %>

        <td><%= appointment.patient.name %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.appointment_time %></td>

        <% if appointment.diagnostic_code %>
            <td><%= appointment.diagnostic_code.diagnostic_code_id %></td>
        <% end %>

        <td><%= appointment.notes %></td>
        <td><%= appointment.appt_completion %></td>

        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Appointment', new_appointment_path %>
<%= link_to 'Cancel Appointment', new_appointment_path %>
