<p id="notice"><%= notice %></p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Appointment Date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Appointment Time:</strong>
  <%= @appointment.appointment_time %>
</p>

<p>
  <strong>Diagnostic Code:</strong>
  <%= @appointment.diagnostic_code.diagnostic_code_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<p>
  <strong>Appointment Completion Status:</strong>
  <%= @appointment.appt_completion %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
