<div id = "content">
  <h1>Delles Simon - Individual Project</h1>

<%= link_to "Home", root_path %>
<%= link_to "Physicians", physicians_url %>
<%= link_to "Patients", patients_url %>
<%= link_to "Appointments", appointments_url %>
<%= link_to "Diagnostic Codes", diagnostic_codes_url %>
<div>
  <p id ="p1">
    <span id ="s1">Welcome to the Appointment System!</span><br><br><br>
    You have <span class = "bolded"><%= $foo1 %></span> patients in the system.<br><br>
    You have <span class = "bolded"><%= $foo2 %></span> physicians in the system.<br><br><br>

    You have <span class = "bolded"><%= $foo3 %></span> appointments in the system.<br><br>

    Please click this link to Generate an invoice for a patient based on the
    diagnostic code entered by the physician <%= link_to "Invoices", invoices_url %>

    <br><br>Current System Time: <%= @time %><br><br>
  </p>
</div>
</div>