<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<p>
  <strong>Patients Name:</strong>
  <% @specialist.patient.each do |patient| %>
    <li><%= patient.name %></li>
<% end %>
</br>

<strong>Pending Appointment Date(s):</strong>
    <% @specialist.appointment.each do |appointment| %>
    <% b = appointment.appointment_date.to_date - Time.now.to_date %>

    <% if b >= 0 %>
        <li><%= appointment.appointment_date %></li>
<% end %>
<% end %>
</p>

<p>
  <strong>Days Until Appointment:</strong>
    <% @specialist.appointment.each do |appointment| %>
    <% a = appointment.appointment_date.to_date - Time.now.to_date %>

    <% if a > 0 %>
        <li><%= a.to_i %></li>

<% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
