<h1>Physician Directory</h1>

<%= link_to "Home", root_path %>
<%= link_to "Physicians", physicians_url %>
<%= link_to "Patients", patients_url %>
<%= link_to "Appointments", appointments_url %>
<%= link_to "Diagnostic Codes", diagnostic_codes_url %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.name %></td>
        <td><%= link_to 'Show', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
