// Place all the styles related to the dash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
  padding-top: 100px;
  text-align: center;

  border-top: 10px;
  border-color: blue;
  border-width: 10px;
}